<!-- books/templates/registration/post_login.html -->
{% extends 'base.html' %}

{% block content %}
  <h1>Welcome, {{ user.username }}!</h1>
  <p>What would you like to do?</p>
  <ul>
    <li><a href="{% url 'books:book_add' %}">Add a Book</a></li>
    <li><a href="{% url 'books:book_search' %}">Search Books</a></li>
    <li><a href="/admin/">Admin Page</a></li>
    <li><a href="{% url 'books:book_list' %}">View Inventory</a></li>  <!-- Button to view all books -->
      <li><a href="{% url 'books:inventory_summary' %}">View Inventory Summary</a></li>
    <li><a href="{% url 'logout' %}">Logout</a></li>
  </ul>
{% endblock %}
